<h2>Add a new person</h2>

<form action="/p_submit" method="POST">
	<input type="text" name="person[name]" value="Enter Person Name" onFocus="value=''"/><br><br>
	<input type="text" name="person[dob]" value="Enter Person DOB" onFocus="value=''"/><br><br>
	<select type="text" name="person[gender]">
		<option value="Male">Male</option>
		<option value="Female">Female</option>
		<option value="Other">Other</option>
	</select><br><br>
	<input type="text" name="person[zipcode]" value="Enter Person Zipcode" onFocus="value=''"/><br><br>
	<input type="submit" value="Submit" /><br><br>
</form>
