<h2>Add a new event</h2>

<form action="/e_submit" method="POST">
	<input type="text" name="event[name]" value="Enter Evnet Name" onFocus="value=''"/><br><br>
	<input type="text" name="event[date]" value="Enter Event date" onFocus="value=''"/><br><br>
	<input type="submit" value="Submit" /><br><br>
</form>
