<h2>Add a new registration</h2>

<form action="/r_submit" method="POST">
	<input type="text" name="registration[people_id]" value="Enter Person ID" onFocus="value=''"/><br><br>
	<input type="text" name="registration[events_id]" value="Enter Event ID" onFocus="value=''"/><br><br>
	<select type="text" name="registration[status]">
	  <option value="Coming">Coming</option>
	  <option value="Not Coming">Not Coming</option>
	  <option value="Maybe">Maybe</option>
	</select><br><br>
	<input type="submit" value="Submit" /><br><br>
</form>
