<h3>These are the Events!</h3>
<ol>
<% @events.each do |event| %>
	<li>
		<label>Event ID:</label><%= event.event_id %><br>
		<label>Evnet Name:</label><%= event.name %><br>
		<label>Evenr Date:</label><%= event.date %><br>
	</li>
<% end %>
</ol>
<a href="/">Hello go back Main Page!</a>
