<h3>These are the Events!</h3>
<ol>
<% @events.each do |event| %>
	<li>
		<%= event.event_id %>
		<%= event.name %>
		<%= event.date %>
	</li>
<% end %>
</ol>
<a href="/">Hello go back Main Page!</a>
