<h3>Welcome to Sinatra!</h3>

<a href="/person/new">Add a new person!</a>
<a href="/persons">Show all persons!</a>
<a href="/event/new">Add a new event!</a>
<a href="/evnets">Show all events!</a>
<a href="/registration/new">Add a new regsitration!</a>
<a href="/registrations">Show all events!</a>


<form action="/p_submit" method="POST">
	<input type="text" name="person[name]" value="Enter Person Name" />
	<input type="submit" value="Submit" />
</form>
