<h2>Welcome to Sinatra Evite1!</h2>

<h3>Person Information</h3>
<p>@Add a new person</p>
<a href="/person/new">Add a new person!</a>
<p>@Show all people</p>
<a href="/people">Show all persons!</a>

<h3>Event Information</h3>
<p>@Add a new event</p>
<a href="/event/new">Add a new event!</a>
<p>@Show all events</p>
<a href="/events">Show all events!</a>

<h3>@Registration Information</h3>
<p>Add a registration</p>
<a href="/registration/new">Add a new regsitration!</a>
<p>@Show all registrations</p>
<a href="/registrations">Show all events!</a>
