<h3>These are the Registrations!</h3>
<ol>
<% @registrations.each do |registration| %>
	<li>
		<%= registration.registration_id %>
		<%= select name from people where 'person_id = registration.people_id' %>
		<%= registration.events_id %>
		<%= registration.status %>
	</li>
<% end %>
</ol>
<a href="/">Hello go back Main Page!</a>
